body{
  background-color: #555544;
  color: #555555;

  font-family: sans-serif,Arial,Helvetica;

  font-size:20px;

  line-height: 1.6em;
  margin:0;
}





.container{
    width:80%;
    margin-top: auto;
    margin-left: 35%;
    margin-right: auto;
}






.button {
    margin-bottom: 20px;
    background-color: cornflowerblue; /* Green */
    border: none;
    color: white;
    padding: 15px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}





a {
    text-decoration: : none;
    color: black;
    font-family:fantasy;
    font-size:
}
a:hover{
    color:red;
}
a:active{
    color:yellow;
}


.SettingBox {
    margin-top: 10%;
    margin-bottom: 10%;
    color: beige;
    font-family: fantasy;
}

.LittleBox {
    margin-top: 0%;
    margin-bottom: 0%;
}
